{% extends 'base.html.twig' %}

{% block title %}SIMONE{% endblock %}

{% block body %}
    <div class="container">
        {% include 'includes/_navbar.html.twig' %}

    <h1>Create new Expense</h1>

    {{ include('expense/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('expense_index') }}">Back to list</a>

    </div>

{% endblock %}
