{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <div class="container">

        {% include 'includes/_navbar.html.twig' %}

    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('category_index') }}">Back to list</a>

    </div>
{% endblock %}
